body {
	background-color: #AEEBE4;
	color: #E5E4E2;
	font-family: Verdana, Geneva, sans-serif;
}

.masthead, .footer{
	padding: 5px;
	background-color:  #179C8C ;
}
.footer a:link,
.footer a:visited,
.footer a:active,
.footer a:focus
 {
	color:#E5E4E2;
}

.footer{
	text-align: center;
}

.log, .sidebar{
	margin: 10px;
	color: black;
	background-color:  #AEEBE4;
	list-style: none;
}

.reading{
	font-size: 1.33em;
	padding-bottom: 10px;
}

.reading-cont {
	padding: 10px;
	border-bottom: solid 1px black;
}

.date{
	color: #808080;
}

input {
    width: 95%;
    padding: 12px 20px;
    margin: 10px;
    box-sizing: border-box;
    color: #000000;
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(../img/logo.svg);
  background-size: 100px 82px;
  fill: #94d31b;
  float: left;
}

input[type=submit] {
	border-radius: 5px;
	background: #f4f4f4;
}